body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda a altura da viewport */
    background-color: brown; /* Cor de fundo para contraste */
}

.photo-container {
    width: 600px; /* Ajuste conforme necessário */
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
}

.photo {
    width: 500%;
    height: auto;
}